__pycache__/
*.py[cod]
venv/
.env
.vscode/
arch/
streamline_wake/
# --- ignore figure types only in repo root ---
/*pdf
/*png
/*gif
/*jpg
/*mp4
# --- but allow them anywhere in subfolders ---
GX_dif_geo/*pdf
GX_dif_geo/*png
NH_period_inclined.py
NH_period_mpi.py
NH_period.py
streamlines_google3_video.py
streamlines_phase.py
xi_map1.py
*~